[Unit]
Description=Redis persistent key-value database
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ redis_home }}/bin/redis-server {{ redis_home }}/etc/redis.conf
ExecStop={{ redis_home }}/bin/redis-cli shutdown
Type=notify
User={{redis_user}}
Group={{redis_user}}
RuntimeDirectory={{redis_user}}
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target

