[Unit]
Description=Redis Sentinel
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ redis_home }}/bin/redis-sentinel {{ redis_home }}/etc/sentinel.conf
ExecStop={{ redis_home }}/bin/redis-cli -p 26379 shutdown
Type=forking
User={{redis_user}}
Group={{redis_user}}
RuntimeDirectory={{redis_user}}
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target

