################################################################################
#DATE: 2021-04-03
#DESCRIPTION: MySQL config 8.0.x
#CONNECTIONS: 100 connections
################################################################################


[client]
#host                         = 127.0.0.1
#user                         = root
#password                     = 123456
#port                         = 3306
socket                        = /opt/mysql/data/mysql.sock


[mysqld]
## Basic Settings
bind-address                  = 0.0.0.0
port                          = 3306
user                          = mysql
basedir                       = /opt/mysql
datadir                       = /opt/mysql/data
pid-file                      = mysql.pid
socket                        = mysql.sock
back_log                      = 300
open-files-limit              = 8192
default-authentication-plugin = mysql_native_password
skip-name-resolve             = ON # default:OFF
#show-slave-auth-info         = ON # default:OFF

## Charset and Collation
character-set-server          = utf8
collation-server              = utf8_general_ci


## Logging
log_timestamps                = SYSTEM # default: UTC
relay_log                     = mysql-relay-bin
relay_log_index               = mysql-relay-index
#log                          = mysql-gen.log	
log_error                     = mysql-error.err
log_bin                       = mysql-bin
binlog_format                 = ROW
max_binlog_size               = 256M   # max size for binlog before rolling
expire_logs_days              = 4      # binlog files older than this will be purged
#slow query
slow_query_log                = ON
long_query_time               = 10     # default:10
slow_query_log_file           = mysql-slow.log

## Query Cache

## Connections
max_connections               = 100  #  multiplier for memory usage via per-thread buffers
max_connect_errors            = 100  #  default: 10
concurrent_insert             = 2    #  default: 1, 2: enable insert for all instances
connect_timeout               = 30   #  default -5.1.22: 5, +5.1.22: 10
max_allowed_packet            = 32M  #  max size of incoming data to allow

## Replication
#read_only                      = ON
#super_read_only                = ON
#skip-slave-start		
#slave-skip-errors		= <default: none, recommend:1062>
#slave-net-timeout		= <default: 3600>
#slave-load-tmpdir		= <location of slave tmpdir>
#slave_transaction_retries	= <default: 10>
#server-id                      = <unique value>
#replicate-same-server-id       = <default: 0, recommend: 0, !if log_slave_updates=1> 
#auto-increment-increment       = <default: none>
#auto-increment-offset          = <default: none>
#master-connect-retry           = <default: 60>
#log-slave-updates		= <default: 0 disable>
#report-host			= <在副本注册期间要报告给源的副本的主机名或IP地址>
#report-user			= <在副本注册期间要报告给源的副本的帐户用户名>
#report-password                = <在副本注册期间要报告给源的副本帐户密码>
#report-port			= <default: 3306 用于连接到副本的TCP/IP端口号>
#replicate-do-db            	=
#replicate-ignore-db		= 
#replicate-do-table		= 
#relicate-ignore-table		=
#replicate-rewrite-db		=
#replicate-wild-do-table	=
#replicate-wild-ignore-table	=
